@import '/src/assets/styles/variables';

.countries_container {
  padding-left: 2rem;
  padding-top: 2rem;
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.countries_title {
  padding-left: 2rem;
  color: $color-default;
}
