@import '/src/styles/variables';
.country_item {
  @extend %item;
}

.img {
  width: 18rem;
  height: 28rem;
}

.item_name {
  height: 5rem;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  width: 15rem;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.item_data {
  margin-bottom: 0.2rem;
}
