.button-form {
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #141414;
  padding: 1rem;
  font-size: 1rem;
  background-color: #00d9ff9a;
}
