@import '/src/styles/variables';

.main_container {
  @extend %main-container;
}

.main_link {
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: $background;
  padding: 1rem;
  font-size: 1rem;
  background-color: $blue;
}
