@import '/src/styles/variables';

body {
  background: $backg-default;
}

.main_container {
  @extend %main-container;
  background: $backg-default;
}

.main_link {
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: $background;
  padding: 1rem;
  font-size: 1rem;
  background-color: $blue;
}

.form_page {
  background: $backg-default;
  height: 100%;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  h2 {
    color: $color-default;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1rem;
  }
}

.home {
  background: $backg-default;
  .error_title {
    width: 100%;
    display: block;
    font-size: 1.5rem;
    color: black;
    font-style: normal;
    padding-left: 4rem;
    padding-right: 4rem;
    height: auto;
    text-align: center;
  }
}
