@import '/src/assets/styles/variables';

body {
  background: $backg-default;
}

.home_page {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.not_found_page {
  @extend %main-container;
  @extend %pd-container;
  background: $backg-default;
}

.form_page {
  @extend %main-container;
  padding-left: 6rem;
  padding-right: 6rem;
  background: $backg-default;
  height: 100%;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  gap: 3rem;

  .form_page_cnt {
    margin-top: 1rem;

    h2 {
      font-size: 1.5rem;
      color: $color-default;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.home_page {
  background: $backg-default;
  @extend %pd-container;
  .error_title {
    width: 100%;
    display: block;
    font-size: 1.5rem;
    color: black;
    font-style: normal;
    padding-left: 4rem;
    padding-right: 4rem;
    height: auto;
    text-align: center;
  }

  .error_title {
    color: $color-muted;
  }
}

.main_link {
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: $background;
  padding: 1rem;
  font-size: 1rem;
  background-color: $blue;
}
