@import '/src/styles/variables';

.input_text {
  @extend %input;
}

.item_input {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 0.5rem;

  &:first-child {
    margin-top: 2rem;
  }
}

.error_title {
  color: transparent;
  height: 1.2rem;
  transition: all 0.3 ease-in;
}

.error_active {
  color: red;
}

.input_file {
  padding: 0.8rem;

  @extend %input;
  &::-webkit-file-upload-button {
    visibility: hidden;
    padding: 0;
    width: 0px;
    text-align: left;
  }
}
