@import '/src/assets/styles/variables';

.item_input {
  display: flex;
  flex-direction: column;
  margin-top: 0.1rem;
  gap: 0.1rem;
}

.item_check {
  span {
    margin-top: 0.5rem;
  }
}

.input_colum {
  height: 2rem;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .input_title {
    padding-top: 5px;
    width: 7rem;
    font-weight: normal;
  }

  span {
    padding-top: 5px;
    width: 15rem;
  }
}

.input_text {
  @extend %input;
}

.text_area {
  height: 5rem;
}

.input_title {
  padding-left: 0.2rem;
  font-size: 0.9rem;
  color: $color-btn-text;
}

.input_select {
  @extend %input;
  cursor: pointer;
  padding: 0;
  padding-left: 1rem;
}

.input_file {
  padding: 0.3rem;
  cursor: pointer;

  @extend %input;
  &::-webkit-file-upload-button {
    visibility: hidden;
    padding: 0;
    width: 0px;
    text-align: left;
  }
}

.input_radio {
  display: none;
  &:checked + label {
    &:after {
      opacity: 1;
    }
    &:before {
      background: $blue;
    }
  }
  & + label {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    position: relative;
    padding-left: 40px;
    padding-top: 5px;
    vertical-align: middle;

    font-size: 1rem;
    color: $color-btn-text;
    &:after {
      transform: scale(0.5);
      content: '';
      display: block;
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
      transition: opacity ease-in 0.2s;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0;
      width: 30px;
      height: 30px;
      border-radius: 25px;
      background: $color-input-bg;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3) inset;
      transition: ease-in 0.15s;
    }
  }
}

.input_check {
  display: none;
  &:checked + label {
    &:after {
      left: 25px;
    }
    &:before {
      background: $blue;
    }
  }
  & + label {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    position: relative;
    padding-left: 65px;
    padding-top: 5px;
    vertical-align: middle;
    &:after {
      transform: scale(0.7);
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
      transition: ease-in 0.15s;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0;
      width: 55px;
      height: 30px;
      border-radius: 25px;
      background: $color-input-bg;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3) inset;
      transition: ease-in 0.15s;
    }
  }
}

.radio_container {
  display: flex;
  gap: 2rem;
}

.error {
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px red;
}

.error_title {
  display: flex;
  align-items: center;
  color: transparent;
  height: 1.2rem;
  transition: all 0.3 ease-in;
}

.error_active {
  color: red;
}
