@import '/src/styles/variables';

.shadow_ovelay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.374);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 1rem);
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  max-width: 70%;
  margin: 1.75rem auto;
  transition: transform 0.3s ease-out;
  overflow: hidden;
}

.modal_wrapper {
  scroll-behavior: smooth;
  padding: 1rem;
  pointer-events: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  overflow-y: auto;

  h1 {
    text-align: center;
    font-size: 1rem;
  }
}
