@import '/src/styles/variables';

.navbar {
  // @extend %pd-container;
  padding-left: 6rem;
  padding-right: 6rem;
  background: $backg-nav;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 4rem;
}

.navbar_logo {
  width: 30%;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  color: $white;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: Gang-of-Three;

  span {
    color: red;
  }
}

.logo {
  background: url('../../assets/react.svg');
  background-repeat: no-repeat;
  width: 2.3rem;
  height: 2.3rem;
  display: block;
}

.navbar_lists {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}

.active {
  color: $light-blue;
  text-decoration: underline;
}

.nav-links:hover {
  color: $light-blue;
}
