.navbar {
  background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 4rem;
}

.logo {
  background: url('../../assets/react.svg');
  background-repeat: no-repeat;
  width: 2.3rem;
  height: 2.3rem;
  display: block;
}

.navbar_lists {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  color: white;
  font-weight: 400;
}

.nav-links:hover {
  color: aqua;
}

.navbar_logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 1.5rem;
}
