@import '/src/assets/styles/variables';

.error_title {
  color: transparent;
  height: 1rem;
  transition: all 0.3 ease-in;
  width: 20rem;
  font-size: 0.8rem;
  font-style: italic;
}

.error_active {
  color: red;
}

.error_img {
  width: 11rem;
  height: 11rem;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  // background-image: url('../../../assets/img/err/err_1.jpg');
}
