.countries_container {
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.countries_title {
  padding-left: 4rem;
  padding-right: 4rem;
}
