@import '/src/assets/styles/variables';

.form_container {
  width: 99%;
  margin-left: 2rem;
  padding-top: 2rem;
}

.search_form {
  display: flex;
  width: 40%;
  height: 4rem;
  position: relative;
}

.search__input {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  padding-left: 3rem;
  outline: none;
  border: 2px solid #141414;
  border-radius: 5px;
  background: $color-input-bg;
  color: $color-btn-text;
}

.search__input :focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px#00D8FF;
}

.search__img {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 2rem;
  height: 2rem;
}
