@import '/src/assets/styles/colors';
@import '/src/assets/styles/fonts';

%pd-container {
  padding-left: 4rem;
  padding-right: 4rem;
}

%main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  font-size: 1.5rem;
}

%input {
  width: 30rem;
  height: 2rem;
  padding: 1rem;
  outline: none;
  border: 2px solid $background;
  border-radius: 5px;
  background-color: $color-input-bg;
  color: $color-btn-text;

  &:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px;
  }
}

%item {
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  outline: none;
  border: 1px solid $color-muted;
  background-color: $backg-nav;
  transition: all 0.3s ease-in;

  &:hover {
    scale: 1.09;
    transition: all 0.2s ease-in;
  }
}

%button {
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #141414;
  padding: 1rem;
  font-size: 1rem;
  background-color: $light-blue;
  margin-bottom: 1rem;

  &:disabled {
    background-color: $dark-blue;
  }
}

%is_loading {
  background-color: #ededed;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
